{% extends 'base.html' %}
{% block title %}Posts{% endblock %}
{% block content %}
<ul class="list-group">
    <li class="list-group-item list-group-item-warning">
        <div class="row">
        <div class="col-md-8">
            {{object.title}}
        </div>
        <div class="col-md-2">
            {{object.author}}
        </div>
            <div class="col-md-2">
            <a href="{% url 'delete' pk=object.id %}">delete</a>
        </div>

            </div>
    </li>
    <li class="list-group-item list-group-item-warning">
        {{object.content|linebreaksbr}}
    </li>
        <li class="list-group-item list-group-item-warning" style="-webkit-text-size-adjust: auto">
        {% load disqus_tags %}
            {% disqus_show_comments %}
    </li>
{% endblock %}